* {
  font-family: Barlow, Arial, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}
.evidon-prefdiag-link{
     pointer-events: none;
}
/*
[aria-label:"Targeting and Social Media Cookies category"]:after {
 padding: 20px;
}
*/
.evidon-switch-slider.slideron{
     float: left;
}



